.jumbotron {
	background-color: yellow;
	color: black;
}

.card-hotel {
	flex: 1 150px;
	padding: 2px 5px 2px 5px;
	margin-top: 10px;
}

.btn-reserva {
	width: 100%;
}

.footer-address-icon, .footer-social-icon, .btn-reserva-icon {
	padding-right: 10px;
}

footer a {
	text-decoration: none;
}

footer {
	padding: 10px 10px 0px 10px;
	background-color: yellow;
	color: black;
	margin-top: 10px;
	margin-bottom: 0px;
}